@charset "UTF-8";


@media screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-index a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .button-right {
        float: none;
    }

    .footer {
        float: none;
        display: block;
        position: relative;
        height: 2.5rem;
        width: auto;
        bottom: -200px;
    }

    /* .footer {
        float: none;
        display: block;
        position: absolute;
        height: 2.5rem;
        width: 100%;
        bottom: 0;
    } */

}