@charset "UTF-8";


@media screen and (max-width: 1200px) {

    * {
        margin: 0;
        padding: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-index a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }

    .button-right {
        float: none;
    }

    .footer {
        float: none;
        display: block;
        position: relative;
        height: 2.5rem;
        width: 100%;
        bottom: -200px;

    }

    .conteudo img {
        float: none;
        display: block;
        position: absolute;
        width: 100%;
        background-color: #fff;
        margin: 2px 0 0 0;
        height: 10rem;
    }

}